$color-primary: #124578;
$color-primary-dark: darken($color-primary, 20%);
$color-primary-darker: darken($color-primary, 40%);
$color-primary-light: lighten($color-primary, 20%);
$color-primary-lighter: lighten($color-primary, 40%);

$color-secondary: #FEC503;
$color-secondary-dark: darken($color-secondary, 20%);
$color-secondary-darker: darken($color-secondary, 40%);
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-lighter: lighten($color-secondary, 40%);

$color-tertiary: #CD0000;
$color-tertiary-dark: darken($color-tertiary, 20%);
$color-tertiary-darker: darken($color-tertiary, 40%);
$color-tertiary-light: lighten($color-tertiary, 20%);
$color-tertiary-lighter: lighten($color-tertiary, 40%);

$color-quartiary: #124578;
$color-quartiary-dark: darken($color-quartiary, 20%);
$color-quartiary-darker: darken($color-quartiary, 40%);
$color-quartiary-light: lighten($color-quartiary, 20%);
$color-quartiary-lighter: lighten($color-quartiary, 40%);

$color-gray: #C7C7C7;
$color-gray-dark: darken($color-gray, 20%);
$color-gray-darker: darken($color-gray, 40%);
$color-gray-light: lighten($color-gray, 20%);
$color-gray-lighter: lighten($color-gray, 40%);
