description = "Builder"
[contactForm]
[staticPage]
useContent = 0
default = 1
==
{% spaceless %}
{variable name="section" label="SEO Details" tab="SEO" type="section" span="full"}{/variable}
{variable name="metatitle" label="Meta Title" tab="SEO" type="text" span="full"}{/variable}
{variable name="metadesc" label="Meta Description" tab="SEO" type="textarea" size="tiny" span="full"}{/variable}
{variable name="metakeywords" label="Meta Keywords" tab="SEO" type="textarea" size="tiny" span="full"}{/variable}

{variable name="section1Social" label="Facebook" tab="Social Meta" type="section" span="left"}{/variable}
{variable name="section2Social" label="Twitter" tab="Social Meta" type="section" span="right"}{/variable}
{variable name="fbtitle" label="Title" tab="Social Meta" type="text" span="left"}{/variable}
{variable name="twtitle" label="Title" tab="Social Meta" type="text" span="right"}{/variable}
{variable name="fbdesc" label="Description" tab="Social Meta" type="textarea" size="tiny" span="left"}{/variable}
{variable name="twdesc" label="Description" tab="Social Meta" type="textarea" size="tiny" span="right"}{/variable}
{variable name="fbimage" label="Image" tab="Social Meta" type="mediafinder" mode="image" span="left"}{/variable}
{variable name="twimage" label="Image" tab="Social Meta" type="mediafinder" mode="image" span="right"}{/variable}

{variable name="section2" label="Header" tab="Header" type="section" span="full"}{/variable}
{variable name="headertitle" label="Title" tab="Header" type="text" span="full"}{/variable}
{variable name="headersubtitle" label="Subtitle" tab="Header" type="text" span="full"}{/variable}

{variable name="section3" label="About" tab="About" type="section" span="full"}{/variable}
{variable name="abouttitle" label="Title" tab="About" type="text" span="left"}{/variable}
{variable name="aboutsubtitle" label="Subtitle" tab="About" type="text" span="right"}{/variable}

{variable name="section4" label="Details" tab="About" type="section" span="full"}{/variable}
{variable name="jobtitle" label="Job Title" tab="About" type="text" span="left"}{/variable}
{variable name="profilepic" label="Profile Pic" tab="About" type="mediafinder" mode="image" span="right"}{/variable}
{variable name="shortbio" label="Short Bio" tab="About" type="textarea" size="small" span="left"}{/variable}
{variable name="bio" label="Bio" tab="About" type="textarea" size="large" span="full"}{/variable}

{variable name="section5" label="Info" tab="Info" type="section" span="full"}{/variable}
{repeater name="aboutdetails" prompt="Add Info" tab="Info" span="full"}
    {variable name="title" label="Title" type="text" span="left"}{/variable}
    {variable name="info" label="Info" type="text" span="right"}{/variable}
{/repeater}

{variable name="section6" label="Stats" tab="Stats" type="section" span="full"}{/variable}
{repeater name="stats" prompt="Add Stat" tab="Stats" span="full"}
    {variable name="title" label="Title" type="text" span="storm" cssClass="col-xs-4"}{/variable}
    {variable name="value" label="Value" type="text" span="storm" cssClass="col-xs-4"}{/variable}
    {variable name="icon" label="Icofont" type="text" span="storm" cssClass="col-xs-4"}{/variable}
{/repeater}

{variable name="section7" label="Languages" tab="Skills" type="section" span="full"}{/variable}
{repeater name="languages" prompt="Add Language" tab="Skills" span="full"}
    {variable name="title" label="Title" type="text" span="left"}{/variable}
    {variable name="value" label="Value" type="text" span="right"}{/variable}
{/repeater}

{variable name="section8" label="Frameworks & CMSs" tab="Skills" type="section" span="full"}{/variable}
{repeater name="frameworks" prompt="Add Framework" tab="Skills" span="full"}
    {variable name="title" label="Title" type="text" span="left"}{/variable}
    {variable name="value" label="Value" type="text" span="right"}{/variable}
{/repeater}

{variable name="section9" label="Other Skills" tab="Skills" type="section" span="full"}{/variable}
{repeater name="skills" prompt="Add Skill" tab="Skills" span="full"}
    {variable name="title" label="Title" type="text" span="left"}{/variable}
    {variable name="value" label="Value" type="text" span="right"}{/variable}
{/repeater}

{variable name="section10" label="Interests" tab="Interests" type="section" span="full"}{/variable}
{repeater name="interests" prompt="Add Stat" tab="Interests" span="full"}
    {variable name="title" label="Title" type="text" span="storm" cssClass="col-xs-4"}{/variable}
    {variable name="color" label="Color" type="text" span="storm" cssClass="col-xs-4"}{/variable}
    {variable name="icon" label="Remix Icon" type="text" span="storm" cssClass="col-xs-4"}{/variable}
{/repeater}

{variable name="section11" label="Testimonials" tab="Testimonials" type="section" span="full"}{/variable}
{repeater name="testimonials" prompt="Add testimonial" tab="Testimonials" span="full"}
    {variable name="name" label="Client Name" type="text" span="left"}{/variable}
    {variable name="content" label="Content" type="textarea" size="large" span="right"}{/variable}
    {variable name="title" label="Job Title" type="text" span="left"}{/variable}
    {variable name="image" label="Image" type="mediafinder" mode="image" span="left"}{/variable}
{/repeater}

{variable name="section12" label="Resume" tab="Resume" type="section" span="full"}{/variable}
{variable name="resumetitle" label="Title" tab="Resume" type="text" span="left"}{/variable}
{variable name="resumesubtitle" label="Subtitle" tab="Resume" type="text" span="right"}{/variable}

{variable name="section13" label="Summary" tab="Resume" type="section" span="full"}{/variable}
{variable name="resumename" label="Name" tab="Resume" type="text" span="full"}{/variable}
{variable name="resumesummary" label="Summary" tab="Resume" type="textarea" size="large" span="full"}{/variable}

{variable name="section14" label="Education" tab="Education" type="section" span="full"}{/variable}
{repeater name="education" prompt="Add education" tab="Education" span="full"}
    {variable name="course" label="Course" type="text" span="left"}{/variable}
    {variable name="content" label="Description" type="richeditor" size="large" span="right"}{/variable}
    {variable name="location" label="Location" type="text" span="left"}{/variable}
    {variable name="year" label="Year" type="text" span="left"}{/variable}
{/repeater}

{variable name="section15" label="Experience" tab="Experience" type="section" span="full"}{/variable}
{repeater name="experience" prompt="Add experience" tab="Experience" span="full"}
    {variable name="job" label="Job" type="text" span="left"}{/variable}
    {variable name="content" label="Description" type="richeditor" size="large" span="right"}{/variable}
    {variable name="company" label="Company" type="text" span="left"}{/variable}
    {variable name="year" label="Year" type="text" span="left"}{/variable}
{/repeater}

{variable name="section16" label="Portfolio" tab="Portfolio" type="section" span="full"}{/variable}
{repeater name="portfolio" prompt="Add portfolio" tab="Portfolio" span="full"}
    {variable name="name" label="Name" type="text" span="left"}{/variable}
    {variable name="image" label="Image" type="mediafinder" mode="image" span="right"}{/variable}
    {variable name="category" label="Category" type="dropdown" options="Web:Web|App:App|Software:Software|Backend:Backend|Other:Other" span="left"}{/variable}
    {variable name="link" label="Link" type="text" span="left"}{/variable}
    {variable name="description" label="Description" type="richeditor" size="large" span="left"}{/variable}
{/repeater}
{% endspaceless %}
<!doctype html>
<html lang="en">
    <head>
        <title>{{ this.page.title }} - {{ this.theme.site_title }}</title>
        <meta name="title" content="{{ metatitle }}">
        <meta name="description" content="{{ metadesc }}">
        <meta name="keywords" content="{{ metakeywords }}">
        {% partial 'global/meta' %}

        <meta property="og:title" content="{{ fbtitle }}">
        <meta property="og:description" content="{{ fbdesc }}">
        <meta property="og:image" content="{{url('/')}}{{ fbimage | media }}">
        <meta property="og:site_name" content="{{ this.theme.site_title }}">
        <meta name="twitter:title" content="{{ twtitle }}">
        <meta name="twitter:description" content="{{ twdesc }}">
        <meta name="twitter:image" content="{{url('/')}}{{ twimage | media }}">
        <meta name="twitter:image:alt" content="{{ twtitle }} image">
        <meta name="twitter:card" content="summary_large_image">
    </head>

    <body>
        {% partial 'global/header' %}

        {% partial 'sections/about' %}

        {% partial 'sections/resume' %}

        {% partial 'sections/services' %}

        {% partial 'sections/portfolio' %}

        {% partial 'sections/contact' %}

        {% page %}

        {#% partial 'global/footer' %#}

        {% partial 'global/scripts' %}
    </body>
</html>
