<section id="about" class="about">
    <div class="about-me container">
        <div class="section-title">
            <h2>{{ abouttitle }}</h2>
            <p>{{ aboutsubtitle }}</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{{ profilepic | media }}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>{{ jobtitle }}</h3>
                {% if shortbio %}
                <p class="font-italic">{{ shortbio }}</p>
                {% endif %}

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="">
                        {% for item in aboutdetails %}
                            <li><i class="icofont-rounded-right"></i> <strong>{{ item.title }}:</strong> {{ item.info }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                {% if bio %}
                <p>{{ bio | raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="counts container">
        <div class="row">
            {% for stat in stats %}
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="icofont-{{ stat.icon }}"></i>
                    <span data-toggle="counter-up">{{ stat.value }}</span>
                    <p>{{ stat.title }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if languages %}
    <div class="skills container">
        <div class="section-title">
            <h2>Languages</h2>
        </div>

        <div class="row skills-content">
            <div class="col-lg-12 two-columns">
                {% for skill in languages %}
                <div class="progress">
                    <span class="skill">{{ skill.title }} <i class="val">{{ skill.value }}%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if frameworks %}
    <div class="skills container">
        <div class="section-title after-secondary">
            <h2>Frameworks & CMS</h2>
        </div>

        <div class="row skills-content">
            <div class="col-lg-12 two-columns">
                {% for skill in frameworks %}
                <div class="progress">
                    <span class="skill">{{ skill.title }} <i class="val">{{ skill.value }}%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar bg-secondary-dark" role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if skills %}
    <div class="skills container">
        <div class="section-title after-tertiary">
            <h2>Other Skills</h2>
        </div>

        <div class="row skills-content">
            <div class="col-lg-12 two-columns">
                {% for skill in skills %}
                <div class="progress">
                    <span class="skill">{{ skill.title }} <i class="val">{{ skill.value }}%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar bg-tertiary-dark" role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if interests %}
    <div class="interests container">
        <div class="section-title">
            <h2>Interests</h2>
        </div>
        <div class="row">
            {% for interest in interests %}
            <div class="col-lg-3 col-md-4 {{ loop.index == 1 ? '' : 'mt-4 ' }}{{ loop.index == 2 ? 'mt-md-0' : '' }}{{ loop.index == 3 ? 'mt-md-0' : '' }}{{ loop.index == 4 ? 'mt-lg-0' : '' }}">
                <div class="icon-box">
                    <i class="ri-{{ interest.icon }}" style="color: {{ interest.color }};"></i>
                    <h3>{{ interest.title }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if testimonials %}
    <div class="testimonials container">
        <div class="section-title">
            <h2>Testimonials</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            {% for testimonial in testimonials %}
            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ testimonial.content }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{ testimonial.image | media }}" class="testimonial-img" alt="{{ testimonial.name }}, {{ testimonial.title }}">
                <h3>{{ testimonial.name }}</h3>
                <h4>{{ testimonial.title }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
