<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-web">Web</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-software">Software</li>
                    <li data-filter=".filter-backend">Backend</li>
                    <li data-filter=".filter-other">Other</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            {% for item in portfolio %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ item.category | lowercase }}">
                <div class="portfolio-wrap">
                    <img src="{{ item.image | media }}" class="img-fluid" alt="{{ item.name }} image">
                    <div class="portfolio-info">
                        <h4>{{ item.name }}</h4>
                        <p>{{ item.category }}</p>
                        <div class="portfolio-links mt-5">
                            <a href="{{ item.image | media }}" data-gall="{{ item.name | slug }}-gallery" class="venobox" title="{{ item.name }}"><i class="bx bx-search"></i></a>
                            <a href="#{{ item.name | slug }}-content" data-gall="{{ item.name | slug }}-gallery" data-vbtype="inline" class="venobox" title="{{ item.name }}"><i class="bx bx-info-circle"></i></a>
                            <a href="{{ item.link }}" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="{{ item.name | slug }}-content" style="display:none;">
                <div class="portfolio-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="portfolio-title">{{ item.name }} - {{ item.category }}</h1>

                                <div class="portfolio-info">
                                    {{ item.description | raw }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <img src="{{ item.image | media }}" class="img-fluid" alt="{{ item.name }} image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Portfolio Section -->
